// Use RGB/RGBA color units

// Colors
// ------------------------------------
$color-black: #0D1126;
$color-gray: #CAC8D1;
$color-orange: rgb(255, 101, 47);
$color-classicBlue: #34558b; 
// $color-yellow: rgb(255, 228, 0);
// $color-green: rgb(20, 167, 108);
// $color-lightgray: #F6F4FF;
// $color-electricBlue: #7DF9FF;
// ------------------------------------


// Template Colors
// ------------------------------------
$color-greenMunsell: #0ba376;
$color-ming: #0b7080;
$color-lightgray: #d5d5d5;
$color-cultured: #f5f5f5;
$color-white: #fff;
$color-jet: #333;
// ------------------------------------


// Applications
// ------------------------------------
$color-body-bg: $color-greenMunsell;
$color-body-gradient: linear-gradient($color-ming, $color-greenMunsell);

$color-btn-text: $color-cultured;
$color-btn-primary: $color-greenMunsell;
$color-btn-primary-hover-text: $color-white;
$color-btn-secondary: $color-lightgray;
$color-btn-secondary-text: $color-cultured;
$color-btn-secondary-hover-text: $color-jet;


// ------------------------------------


// Freecell
// ------------------------------------
$fc-black: #222;
$fc-yellow: #ffb53e;
$fc-lightgray: #fcfcfc;
$fc-gray: #e2e2e2;
$fc-darkgray: #ccc;
// ------------------------------------
