// Use RGB/RGBA color units

// Colors
// ------------------------------------
$color-black: #0D1126;
$color-gray: #CAC8D1;
$color-orange: rgb(255, 101, 47);
$color-yellow: rgb(255, 228, 0);
$color-green: rgb(20, 167, 108);
$color-lightgray: #F6F4FF;
$color-electricBlue: #7DF9FF;

$color-classicBlue: #34558b; 

// Applications
// ------------------------------------
$color-homepageBackground: $color-black;
$color-navigationText: $color-lightgray;
$color-navigationTextHover: $color-electricBlue;
$color-blockTitle: $color-lightgray;


// ===== FreeCell =====
$fc-black: #222;
$fc-yellow: #ffb53e;
$fc-lightgray: #fcfcfc;
$fc-gray: #e2e2e2;
$fc-darkgray: #ccc;
// ===== FreeCell =====