// Use RGB/RGBA color units

// Colors
// ------------------------------------
$color-black: #0D1126;
$color-gray: #CAC8D1;
$color-orange: rgb(255, 101, 47);
$color-classicBlue: #34558b; 
// $color-yellow: rgb(255, 228, 0);
// $color-green: rgb(20, 167, 108);
// $color-lightgray: #F6F4FF;
// $color-electricBlue: #7DF9FF;
// ------------------------------------


// Template Colors
// ------------------------------------
$color-greenMunsell: #0ba376;
$color-ming: #0b7080;
$color-lightgray: #d5d5d5;
$color-cultured: #f5f5f5;
$color-white: #fff;
$color-silverChalice: #aaa;
$color-grayX11: #bbb;
$color-culturedGray: #eee;
$color-grayX11-200: #b5b6b7;
$color-quickSilver: #a5a6a7;
$color-eerieBlack: #222;
$color-jet: #333;
$color-onyx: #444;
$color-sonicSilver: #777;
// ------------------------------------


// Freecell
// ------------------------------------
$fc-black: #222;
$fc-yellow: #ffb53e;
$fc-lightgray: #fcfcfc;
$fc-gray: #e2e2e2;
$fc-darkgray: #ccc;
// ------------------------------------
