
/* --- White Spaces --- */
.white-space-10 {
  padding-bottom: 10px; 
}

.white-space-20 {
  padding-bottom: 20px; 
}

.white-space-30 {
  padding-bottom: 30px; 
}

.white-space-40 {
  padding-bottom: 40px; 
}

.white-space-50 {
  padding-bottom: 50px; 
}

.white-space-60 {
  padding-bottom: 60px; 
}

.white-space-70 {
  padding-bottom: 70px; 
}
/* --- End White Spaces --- */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
