@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

$lgw: 1280px;
$mdw: 1025px;
$mdw2: 1024px;
$sdw: 768px;
$ssw: 480px;
$breakpoints: ( 'md': 'only screen and (max-width: #{$lgw})',
  'mmd': 'only screen and (min-width: #{$mdw})',
  'sm': 'only screen and (max-width: #{$mdw2})',
  'ssm': 'only screen and (max-width: #{$sdw})',
  'ss': 'only screen and (max-width: #{$ssw})');

@mixin respond-to($name) {
    @media #{map-get($breakpoints, $name)} {
        @content;
    }
}