
.homepage {

  .btn-primary,
  .btn-secondary,
  button,
  input[type="button"],
  input[type="submit"],
  .wp-block-button .wp-block-button__link {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid $color-btn-primary;
    color: $color-btn-text;
    text-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    font-family: 'Poppins', Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
  }
  
  .btn-primary:last-child,
  .btn-secondary:last-child,
  button:last-child,
  input[type="button"]:last-child,
  input[type="submit"]:last-child,
  .wp-block-button .wp-block-button__link:last-child {
    margin-right: 0;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  button:hover,
  button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    outline: none;
    color: $color-btn-primary-hover-text;
    background-color: $color-btn-primary;
  }
  
  .btn-secondary {
    border-color: $color-btn-secondary;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
    color: $color-btn-secondary-text;
    &:hover,
    &:focus {
      color: $color-btn-secondary-hover-text;
      border-color: $color-btn-secondary;
      background-color: $color-btn-secondary;
    }
  }
}